
body{
	background-color:black;
}
div{
	height: 200px;
	width: 200px;
	position: absolute;
	top: 20%;
	left: 20%;
	background-color: aquamarine;
    /*transform: rotate(120deg);*/
    /*transform: scale(1.8);*/
   /* transform: translate(100px);*/
    /*transform: translateZ(10px);*/
    transition:  1s ease-in-out;
    /*transition:  1s steps(4,end);*/

}
div:hover{
	transform: scale(0.5) translateX(100px) rotate(360deg);
	border-radius: 50%;
}
