/*so what we are going to learn here is margin ...so 
what does margin mean ,margin simply means space around an object*/
#outer-div1{
	height: 200px;
	width: 200px;
	background-color: cyan;
	margin-bottom: 30px;
	/*margin: 2px 3px 4px 5px;
	here 2px for top,3px for right,
	4px for bottom,5px for left*/

	/*margin: 2px 3px 4px;
	here 2px for top ,3px for left and right 
	and 4 px for bottom*/

	/*margin-top: 2px;
	to set only top margin*/

	/*margin: auto;
	this will place the element in the centre*/
}
#inner-div1{
	height: 50%;
	width: 50%;
	background-color: yellow;
}
#outer-div2{
	height: 200px;
	width: 200px;
	background-color: pink;
	margin-top: 20px;
	/*vertical margins collapse,and becomes maximum of the two
	but horizontal margins add up*/
}
