body{
	margin: 0px;
}
/*BODY HEADER*/
#body-header{
	height: 65vh;
	opacity: 0.9;
	background-image: url(https://images.unsplash.com/photo-1499750310107-5fef28a66643?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8bWFjYm9va3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60);

    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 0px;

}
/*HORIZONTAL LIST*/
.horizontal-list{
	list-style: none;
	padding-left: 0px;

}
.horizontal-list li{
	display: inline-block;
	
	padding: 50px;
	font-size: 20px;
	font-weight: bolder;
	font-family: sans-serif;
	padding-top: 15px;
}
.horizontal-list li a{
	color: white;
	text-decoration: none;
	

}
.text-center{
	text-align: center;
}
.nav-menu li a:hover{
	color: cyan;
	border-bottom: 1.5px solid darkgrey;
	

}
.nav-menu li a{
	transition: color 0.5s border-bottom 4s;
}
/*NAME*/
#about-me{
	text-align: center;
	font-size: 100px;
	font-family: cursive;
	letter-spacing: 0.2rem;

}
.social-icons li a i{
	padding:2px;
	font-size: 1.5rem;
   border-radius: 50%;
}

.social-icons li a i:hover{
	box-shadow: 0px 0px 6px 4px grey;
}
