body{
	margin: 0px;
}
/*BODY HEADER*/
#body-header{
	height: 65vh;
	opacity: 0.9;
	background-image: url(https://images.unsplash.com/photo-1499750310107-5fef28a66643?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8bWFjYm9va3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60);

    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 0px;

}
/*HORIZONTAL LIST*/
.horizontal-list{
	list-style: none;
	padding-left: 0px;

}
.horizontal-list li{
	display: inline-block;
	
	padding: 50px;
	font-size: 20px;
	font-weight: bolder;
	font-family: sans-serif;
	padding-top: 15px;
}
.horizontal-list li a{
	color: white;
	text-decoration: none;
	

}
.text-center{
	text-align: center;
}
.nav-menu li a:hover{
	color: cyan;
	border-bottom: 1.5px solid darkgrey;
	

}
.nav-menu li a{
	transition: color 0.5s border-bottom 4s;
}
/*NAME*/
#about-me{
	text-align: center;
	font-size: 100px;
	font-family: cursive;
	letter-spacing: 0.2rem;

}
.social-icons li a i{
	padding:2px;
	font-size: 1.5rem;
   border-radius: 50%;
}

.social-icons li a i:hover{
	box-shadow: 0px 0px 6px 4px grey;
}
section{
	width: 100%;
	height: 75vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

section:nth-child(2n+1){
	background-color: white;
}
section:nth-child(2n){
	background-color: lightgrey;
}
section:target{
	background-color:lightgreen;
}
/*section heading*/
.section-heading{
	width: auto;
	padding: 20px 10px 10px;
	font-weight: 400;
}
.section-heading span{
font-size: 40px;
color: #2857a4;
display: inline-block;
padding-top:10px ;
margin-right: 0.5rem;
}
/*skills section*/
.skill-display{
	width: 70%;
	/*height: 100px;
	border: 2px solid black;*/
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.skill-progress{
	width: 7rem;
	height: 1.5rem;
	background-color: lightgrey;
	border-radius: 0.8rem;
	border: 2px solid black;
	margin-bottom: 20px;
}
.skill-progress>div{
	border-radius: 20px 0px 0px 20px;
}
.skill-name span{
	color: white;
	font-size: 1.25rem;
	margin-left:10px;
}
/*Timeline*/
.timeline{
	position: relative;
	width: 65%;
	height: auto;
	border: 2px solid black;
	margin-top: -70px;
}
.timeline-box{
	position: relative;
	width: 30%;
	left: 5%;

	height: ;
	min-height: 100px;
	border: 2px solid black;
}
.timeline-box:nth-child(2n){
	left: 53%;
}
.timeline-box:nth-child(2n+1)::after{
	content: '';
	position: absolute;
	top: 25%;
	 right: -35%;
	border-radius: 50%;
	width: 0.5rem;
	height:0.5rem;
	background-color: red;
	z-index: 1;

}
.timeline-box:nth-child(2n)::after{
	content: '';
	position: absolute;
	top: 25%;
	 left: -28%;
	border-radius: 50%;
	width: 0.5rem;
	height:0.5rem;
	background-color: red;
	z-index: 1;

}
.timeline-divider{
	position: absolute;
	height: 75%;
	width: 0;
	border: 1.5px dashed grey;
	top: 10%;
	left: 45%;
}
@media screen and (max-width:600px){
	.timeline-divider{
		left: 5%;
	}
	.timeline-box{
		left: 12% !important;
		width: 80%;
	}
	/*.timeline-box:nth-child(2n)
	left: 12%;*/
	.timeline-box:nth-child(2n+1)::after{
		left: -11%;
	}
	.timeline-box:nth-child(2n)::after{
		left: -11%;
	}
	html{
		font-size: 15px;
	}

}
.timeline-traveller{
	position: sticky;
	top: 25%;
	transform: rotate(90deg);
	z-index: 2;
}

.mb75px{
	margin-bottom:75px;
}
.text-highlight{
	color: #2857a4;
	font-weight: 600;
}
.mb-blue{
	background-color: #2857a4;
}
.mb-yellow{
	background-color: yellow;
}
.mb-green{
	background-color: lightgreen;
}
.mb-pink{
	background-color: lightpink;
}
.mb-purple{
	background-color:purple ;
}
.mb-orange{
	background-color: orange;
}

/*percent-class*/
.eighty-five-percent{
	width: 85%;
	height: inherit;
}
.eighty-percent{
	width: 80%;
	height: inherit;
}
.ninety-five-percent{
	width: 95%;
	height: inherit;
}
.seventy-five-percent{
	width: 75%;
	height: inherit;
}
.forty-five-percent{
	width: 45%;
	height: inherit;
}
.fifty-percent{
	width: 50%;
	height: inherit;
}
#about{
	height: auto;
	width: 100%;
	position: relative;
}
#my-image{
	height: 20rem;
	width: 20rem;
	margin: auto;
	margin-top: -17vh;

}
#my-image img{
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 1px solid lightpink;
}
#about p{
	font-size: 25px;
}
#my-image img:hover{
	box-shadow: 0px 0px 6px 4px grey;
}
p{
	text-align: center;
	color: #673AB7;
	font-size: 30px;
	font-family:cursive;
	letter-spacing: 2px;
	font-weight: bold;
	
}
